.grid-horizontal {
  display: grid;
}

.loremsition-horizontal {
  height: 60px;
  position: relative;
}

.loremsition-list-horizontal {
  width: inherit;
  position: relative;
  display: block;
  list-style-type: none;
  z-index: 1;
}

.listItem-horizontal {
  position: absolute;
  font-size: 18px;
  text-align: center;
  height: 42px;
  line-height: 42px;
  margin-left: 10px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid black;
  white-space: nowrap;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.listItem-horizontal span {
  font-size: 20px;
  color: #00A2CD;
  opacity: 1;
  vertical-align: middle;
  position: relative;
  top: -3px;
  margin-right: 2px;
}