.grid-vertical-n-ary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  margin: 0 auto;
}

/* IE 10+  https://stackoverflow.com/questions/43528940/how-to-detect-ie-and-edge-browsers-in-css*/
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  #loremsition-vertical-n-ary-1 {
    width: 33%;
    left: 0;
    position: absolute;
    
  }

  #loremsition-vertical-n-ary-2 {
    width: 33%;
    left: 33%;
    position: absolute;
  }

  #loremsition-vertical-n-ary-3 {
    width: 33%;
    left: 66%;
    position: absolute;
  }

  .grid-vertical-n-ary {
    position: absolute;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
      
  }
  
}
/* https://stackoverflow.com/questions/7364891/how-to-define-specific-css-rules-for-ie9-alone  Nasty ie9 hack - dont't beautify */
/* https://stackoverflow.com/questions/6654423/target-ie9-only-via-css */
@media screen and (min-width:0) and (min-resolution: .001dpcm) { 
  :root #loremsition-vertical-n-ary-1 {
    width: 33% \ ;
    left: 0 \ ;
    position: absolute \ ;
    display: inline-block \ ;
  }

  :root #loremsition-vertical-n-ary-2 {
    width: 33% \ ;
    left: 33% \ ;
    position: absolute \ ;
    display: inline-block \ ;
  }

  :root #loremsition-vertical-n-ary-3 {
    width: 33% \ ;
    left: 66% \ ;
    position: absolute \ ;
    display: inline-block \ ;
  }
  :root .grid-vertical-n-ary {
    position: absolute \ ;
    width: 60% \ ;
    margin-left: auto \ ;
    margin-right: auto \ ;
    left:  0 \ ;
    right: 0 \ ;
    display: inline-block \ ;
  }
 }

.loremsition-vertical-n-ary {
  display: block;
  transform: translateZ(0);
  /* don't know if it helps */
  position: relative;
}

.loremsition-list-vertical-n-ary {
  display: block;
  z-index: 1;
  margin: 5px;
  transform: translateZ(0);
  /* don't know if it helps */
  position: relative;
}

.listItem {
  position: absolute;
  list-style: none;
  padding: 10px;
  padding-top: 10px;
  margin-top: 5px;
  width: 100%;
  font-size: 1.2vw;
  border-radius: 1px;
  line-height: 21px;
  color: rgb(68, 68, 68);
  border-top: 2px solid rgb(68, 68, 68);
  font-weight: bold;
  /* text-shadow: whitesmoke -1px -1px 0px; */

}

.listItem span {
  float: left;
  background-repeat: repeat;
  margin-right: 6px;
  margin-bottom: -10px;
  font-size: 75px;
  line-height: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: -10px;
  margin-left: -10px;
  color: GAINSBORO;
  font-weight: bold;
  /* font-family: 'Fredericka the Great', cursive; */
  background-color: DARKSLATEGRAY;
  text-shadow: black -1px -1px 0px;
}

/* :root for ie 9 and the rest */
@media only screen and (max-width: 1000px) {
  :root .grid-vertical-n-ary { 
    width: 95%;
  }

  :root .listItem {
    padding: 10px;
    padding-top: 10px;
    margin-top: 5px;
    width: 100%;
    font-size: 12px;
    line-height: 12px;
  }

  :root .listItem span {
    margin-bottom: 0px;
    font-size: 35px;
    line-height: 16px;
    padding-top: 16px;
  }
}